# Environment variables
.env
.env*.local

# Secrets file for git history filtering
secrets.txt

# Next.js
.next/
out/

# Node
node_modules/

# IDE files
.idea/
.vscode/

# Dependency directories
/node_modules
/.pnp
.pnp.js
.pnp.cjs

# Misc
.DS_Store
*.pem
*.log