# Environment variables
.env
.env*.local

# Secrets
secrets.txt
*.secret

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Next.js
.next/
out/

# IDE files
.idea/
.vscode/
*.swp
*~
